# metals language server files
.idea/
.metals/
.bloop/

# compiled project
project/.bloop/
project/project/
project/target/
project/metals.sbt

# compiled src
target/
out/

# log files
*.log

# Eclipse
/bin/
.classpath
.project
.settings
.cache-main
.cache-tests

# formatting
.editorconfig
.flake8
.style.yapf
.scalafmt.conf

# config files
src/it/resources/config.json
config.json
.bsp/
.history/
.pydevproject
.vscode
