# ensime plugin
.ensime_cache/
.ensime

# compiled project
project/project/
project/target/

# compiled src
target/
out/

# log files
*.log

# Eclipse
/bin/
.classpath
.project
.settings
.cache-main
.cache-tests

#c onfig files
src/it/resources/config.json
config.json
